<!DOCTYPE html>
	<head>
		<title>{{ title}}</title>
	</head>

	<body>
		<h1>Team 20 Net Apps Final Project</h1>
		<h2>Library Open Space</h2>
		<h2>Availability LED is listed as Green = Free, Red = Taken</h2>
		<h2>The date and time on the server is: {{ time }}</h2>
		<h2>4th Floor of Library: {{ 4thFloor }}</h2>
		<h2>2nd Floor of Library: {{ 2ndFloor }}</h2>
                <h2>Torg Bridge: {{ TorgBridge }}</h2>
                <h2>Availability (free=green, taken=red): {{ color }}</h2>
	</body>
</html>
